body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

.add_btn {
  border-radius: 4px;
  padding: 4px 8px;
  border: 1px solid black;
  margin-top: 10px;
  margin-left: 10px;
}

.record_list_wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 37px;
}

.record_list_wrap .daily_wrap {
  padding-top: 16px;
}

.record_list_wrap .daily_wrap .daily_title {
  color: #9b9b9b;
}

.record_list_wrap .daily_wrap .item_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid #e2e2e2;
}

.record_list_wrap .daily_wrap .item_wrap .item_left_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.record_list_wrap .daily_wrap .item_wrap .item_left_wrap .item_icon {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 12px;
  background-color: #dddddd;
}

.record_list_wrap .daily_wrap .item_wrap .item_left_wrap .food {
  background-color: #dbffb8;
}

.record_list_wrap .daily_wrap .item_wrap .item_left_wrap .commute {
  background-color: #b8e6ff;
}

.record_list_wrap .daily_wrap .item_wrap .item_left_wrap .item_title_wrap {
  margin-left: 10px;
}

.record_list_wrap .daily_wrap .item_wrap .item_left_wrap .item_title_wrap .item_title {
  color: #4861ff;
  font-size: 18px;
  font-weight: 600;
}

.record_list_wrap .daily_wrap .item_wrap .item_left_wrap .item_title_wrap .food_title {
  color: #70d70b;
}

.record_list_wrap .daily_wrap .item_wrap .item_left_wrap .item_title_wrap .commute_title {
  color: #4861ff;
}

.record_list_wrap .daily_wrap .item_wrap .item_left_wrap .item_title_wrap .item_subtitle {
  opacity: 0.75;
  font-size: 14px;
  color: #a4a4a4;
}

.record_list_wrap .daily_wrap .item_wrap .item_right_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.record_list_wrap .daily_wrap .item_wrap .item_right_wrap .earth_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.record_list_wrap .daily_wrap .item_wrap .item_right_wrap .item_coin {
  font-size: 28px;
  color: #010e61;
  width: 32px;
  text-align: right;
}
/*# sourceMappingURL=style.css.map */