body
  font-family: 'Roboto', Arial, Helvetica, sans-serif

*
  box-sizing: border-box
body,html
  margin: 0
  padding: 0
.add_btn
  position: absolute
  border-radius: 4px
  padding: 4px 8px
  border: 1px solid black
  top: 10px
  left: 10px
  z-index: 100
.hidden
  display: none !important
#earth_div 
  z-index: 0
  top: 0
  right: 0
  bottom: 50%
  left: 0
  background-color: white
  position: absolute !important
  display: flex
  justify-content: space-around
  align-items: center
.mask
  z-index: 30
  background-color: rgba(white,0.30)
  width: 234px
  height: 234px
  border-radius: 100%
  position: absolute !important

      
.modal_background
  position: absolute
  z-index: 100
  top: 0
  right: 0
  left: 0
  bottom: 0
  background-color: rgba(#000000,0.49)
  display: flex
  align-items: center
  justify-content: space-around
  .modal_wrap   
    background-color: #ffffff
    width: 315px
    display: flex
    flex-direction: column
    align-items: center
    border-radius: 10px
    padding: 21px
    .modal_title
      font-size: 24px
      font-weight: 500
      margin-top: 36px
      color: #5a5656
    .modal_img
      img
        height: 157px
    .modal_desc
      padding: 25px 10px
      font-size: 17px
      font-weight: 500
      color: #818181
      text-align: center
    .modal_btn
      border-radius: 4px
      background-color: #37a601
      width: 247px
      height: 40px
      display: flex
      align-items: center
      justify-content: space-around
      color: #ffffff
      cursor: pointer
.record_list_wrap-active
  height: 80% !important
.record_list_wrap
  position: fixed
  bottom: 0
  width: 100%
  background-color: #f5f5f5
  padding: 20px
  border-radius: 37px
  height: 40%
  transition-duration: 300ms
  .total_coin_wrap
    position: absolute
    top: -50px
    right: 9px
    display: flex
    justify-content: space-between
    align-items: center
    border-radius: 17px
    background-color: #f5f5f5
    padding: 5px 15px 5px 10px
    .earth_icon
      display: flex
      justify-content: space-around
      align-items: center
  .record_top_wrap
    width: 100%
    display: flex
    justify-content: space-around
    align-items: center
    .separate
      width: 58px
      height: 3px
      opacity: 0.3
      border-radius: 1.5px
      background-color: #5ebf00
      cursor: pointer
  .daily_wrap
    padding-top: 16px
    .daily_title
      color: #9b9b9b
    .item_hidden
      height: 0
      overflow: hidden
      transition-duration: 300ms
    .item_wrap
      display: flex
      justify-content: space-between
      align-items: center
      padding: 16px 0
      border-bottom: 1px solid #e2e2e2
      height: 80px
      transition-duration: 300ms
      .item_left_wrap
        display: flex
        align-items: center
        .item_icon
          width: 48px
          height: 48px
          display: flex
          align-items: center
          justify-content: space-around
          border-radius: 12px
          background-color: #dddddd
        .food
          background-color: #dbffb8
        .commute
          background-color: #b8e6ff
        .item_title_wrap
          margin-left: 10px
          .item_title
            color: #4861ff
            font-size: 18px
            font-weight: 600
          .food_title
            color: #70d70b
          .commute_title
            color: #4861ff
          .item_subtitle
            opacity: 0.75
            font-size: 14px
            color: #a4a4a4
      .item_right_wrap
        display: flex
        align-items: center
        .earth_icon
          display: flex
          align-items: center
          justify-content: space-around
        .item_coin
          font-size: 28px
          color: #010e61
          width: 32px
          text-align: right
          

